.todoItem {
    display: flex;
    cursor: pointer;
    line-height: 2.5;
    text-indent: 20px;
    border-bottom: 1px solid #ddd;
}

.remove{

    color: salmon;
    opacity: 0;
}

.todoItem:hover .remove{
    opacity: 1;

}
.checked{
    text-decoration: line-through;
    color: #ccc;
}
.todoText{
    flex: 1;
}